@using dOSC.Component.Wiresheet.Nodes.Logic
@using dOSC.Component.Wiresheet.Nodes
<div id="@Nodes.Guid" class="block-note-container  @(Nodes.Selected ? "selected" : string.Empty)">
    <NodeWidgetHeader Node="@Nodes"/>
    <div class="block-container-body-container">
        <div class="block-container-port-container input">
            @foreach(var port in Nodes.GetInputPorts())
            {
                <PortDesigner Port="@port" class="@port.PortType.ToString()"/>
            }
        </div>
        <div class="block-container-body">
    
        </div>
        <div class="block-container-port-container output">
            @foreach(var port in Nodes.GetOutputPorts())
            {
                <PortDesigner Port="@port" class="@port.PortType.ToString()"/>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public WiresheetNode Nodes { get; set; } = new();
}