@using dOSC.Component.Wiresheet.Nodes.Utility
<div id="@Nodes.Guid" class="block-note-container @Nodes.NoteColor.ToString().ToLower() @(Nodes.Selected ? "selected" : string.Empty)">
    <NodeHeader Node="@Nodes"/>
    <div class="block-container-body-container">
        <div class="note-container" @key="@Nodes.Note">
            @((MarkupString)Nodes.MarkdownContent)
        </div>
    </div>
</div>

@code {
    [Parameter] public UtilityNodeNote Nodes { get; set; } = new();
    
}