@page "/editor/"
@page "/editor/{AppId}"
@using BlazorContextMenu
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using dOSC.Component.UI.Wiresheet
@using dOSC.Component.Modals
<div class="editor">
    

    @*<WiresheetToolbarFrame Wiresheet="EditorAppLogic" />*@
    <WiresheetToolbar Diagram="EditorAppLogic" 
                      OnSaveClick="SaveApplication"
                      OnRevertClick="RevertApplication"
                      OnOpenAppSettingsClick="OpenAppSettings"
    />
    <WiresheetComponentToolbar Diagram="EditorAppLogic" />
    <WiresheetContextMenu Diagram="EditorAppLogic" />
    <NavigationLock OnBeforeInternalNavigation="OnLocationChanging" ConfirmExternalNavigation="_confirmExit"/>


<div class="diagram-container" oncontextmenu="return false;" >
    <CascadingValue Value="EditorAppLogic">
        <DiagramCanvas>
            <Widgets>
                <SelectionBoxWidget/>
                <GridWidget Size="30" Mode="GridMode.Point" BackgroundColor="#2e3035"/>
            </Widgets>
        </DiagramCanvas>
    </CascadingValue>
</div>


<EditorModal/>


<ModalV2 @ref="SaveModal" Title="Application Details" OnClose="SaveCancel">
    <Body>
    @if (TempEditorAppLogic != null)
    {
        <EditForm id="SubmitForm" Model="TempEditorAppLogic" OnValidSubmit="@SaveApp" class="dosc-form">
            <DataAnnotationsValidator/>
            <div class="dosc-form-item">
                <label for="inputAppName" class=" ">Name<span style="color:red;">*</span></label>
                <ValidationMessage For="@(() => TempEditorAppLogic.Name)"/>
                <InputText @bind-Value="@TempEditorAppLogic.Name" id="inputAppName" autocomplete="off"/>
            </div>
            <div class="dosc-form-item">
                <label for="inputAppDescription" class=" ">Description</label>
                <ValidationMessage For="@(() => TempEditorAppLogic.Description)"/>
                <InputTextArea @bind-Value="@TempEditorAppLogic.Description" id="inputAppDescription" rows="12" autocomplete="off"/>
            </div>

        </EditForm>
    }

    </Body>
    <Footer>
        <button type="submit" form="SubmitForm" class="dosc-button dosc-button-primary">Save Changes</button>
    </Footer>
</ModalV2>


<ModalV2 @ref="ExitConfirmationModal" Size="ModalV2.ModalSize.Small" HideHeader="true" SpaceFooterEvenly="true">
    <Body>
    <div class="dosc-wiresheet-save-container">
        <div class="dosc-wiresheet-save-title"> Save Changes? </div>
        <div class="dosc-wiresheet-save-subtitle">Would you like to save before exiting?</div>
    </div>

    </Body>
    <Footer>
        <button type="button" class="dosc-button dosc-button-danger" @onclick="ExitNoSave">Discard Changes</button>
        <button type="button" class="dosc-button dosc-button-primary" @onclick="SaveExit">Save Changes</button>
    </Footer>
</ModalV2>
</div>