@page "/apps"
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using dOSC.Components.UI
@using dOSC.Components.Modals
@using Microsoft.AspNetCore.Components.Forms;
<div class="app-page">
    <div class="app-nav">
        <div class="app-nav-header">
            <div class="app-nav-header-title">
                <h3 class="icon oi oi-code"></h3>
                <h3>APPS</h3>
            </div>
@*             <form class="search-form" role="search">
                <i class="oi oi-magnifying-glass"></i>
                <input class="search-input form-control" type="search" placeholder="Search" aria-label="Search">
            </form> *@
        </div>
        <div class="app-nav-container">
            <Virtualize Items="@Wiresheets">
                <AppNavItem Wiresheet="@context" SelectedEvent="@OnSelected" Selected="@Wiresheet" />
            </Virtualize>
            
        </div>
        <div class="app-nav-footer">
            <div class="option">
                <span class="icon oi oi-plus" @onclick="()=> NewAppModal.Open()"> </span>
            </div>
        </div>
    </div>
    <div class="app-details">
        <div class="app-details-header">
            <div class="app-details-header-title">
                <h3>@Wiresheet?.AppGuid.ToString()</h3>
            </div>
        </div>
        <div class="app-details-body">
            @if(Wiresheet != null)
            {
                <EditForm Model="@Wiresheet">
                    <AppDetailItem Title="Information">
                        <ChildContent>
                            <div class="mb-3">
                                <div class="mb-3 form-override">
                                    <label for="inputAppName" class="form-label">Application Name</label>
                                    <input type="text" class="form-control" @bind-value=@Wiresheet.AppName id="inputAppName">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3 form-override">
                                    <label for="inputAppDetailsTextarea" class="form-label">Descripton</label>
                                    <div class="grow-wrap">
                                        <textarea class="form-control" id="inputAppDetailsTextarea" rows="3" onInput="this.parentNode.dataset.replicatedValue = this.value">
                                            @Wiresheet.AppDescription
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </ChildContent>
                    </AppDetailItem>
                    <AppDetailItem Title="Details">
                        <ChildContent>
                            <div class="row w-100">
                                <div class="col-lg-3 col-xs-12 col-md-6">
                                    <div class="col-auto form-override">
                                        <label for="inputAuthor" class="form-label">Author</label>
                                        <input type="text" class="form-control" id="inputAuthor" @bind-value="@Wiresheet.AppAuthor" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-12 col-md-6">
                                    <div class="col-auto form-override">
                                        <label for="inputVersion" class="form-label">Version</label>
                                        <input type="number" class="form-control" id="inputVersion" @bind-value="@Wiresheet.AppVersion" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-12 col-md-6">
                                    <div class="col-auto form-override">
                                        <label for="inputCreated" class="form-label">Created</label>
                                        <input type="datetime" class="form-control" id="inputCreated" @bind-value="@Wiresheet.Created" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-12 col-md-6">
                                    <div class="col-auto form-override">
                                        <label for="inputModified" class="form-label">Modified</label>
                                        <input type="datetime" class="form-control" id="inputModified" @bind-value="@Wiresheet.Modified" disabled>
                                    </div>
                                </div>
                            </div>
                        </ChildContent>
                    </AppDetailItem>
                    <AppDetailItem Title="Connectors Used">
                        <ChildContent>
                            TBA
                        </ChildContent>
                    </AppDetailItem>
                </EditForm>
            }
            else
            {
                <div>
                    <h3>No App Selected</h3>
                </div>
            }
        </div>
        <div class="app-details-footer">
            <div class="option">
                <span class="icon icon-file-edit blue" @onclick="()=> NewAppModal.Open()"></span>
            </div>
            <div class="option">
                <span class="icon icon-trash-2 red" @onclick="()=> NewAppModal.Open()"></span>
            </div>
        </div>
    </div>
</div>





@*
 Modals
*@

<ModalBase @ref=NewAppModal>
    <Title>New Application</Title>
    <Body>
        <p>
            Do you want to upload a new application or create a new one?
        </p>
        <div class="d-flex flex-row w-100 align-items-center justify-content-evenly">
            <button class="btn btn-primary"> New Application </button>
            <button class="btn btn-primary"> Upload Application </button>
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => NewAppModal.Close()">Close</button>
    </Footer>
</ModalBase>