@using dOSC.Components
@page "/"

<div class="justify-content-center align-items-center d-flex" style="width: 100%; height: 100%;">
    
    <div class="home-container">
        <div class="home-panel">
            <div class="mascot">
                <img src="images/mascot.png" />
            </div>
            <div class="details">
                <h1>dOSC</h1>
                <h5>A Dynamic Application Platform</h5>
                <div class="socials">
                    <img src="images/dev-icon.png" @onclick="@OpenTwitter" />
                    <img src="images/discord-mark-blue.png" @onclick="@OpenDiscord" />
                    <img src="images/patreon-mark-white.png" @onclick="@OpenPatreon" />
                    <img src="images/github-mark-white.png" @onclick="@OpenGithub" />
                </div>
            </div>
        </div>
        <div class="home-panel-options">
            <div class="options">
                <a class="option" @onclick="@OpenDocumentation">
                    Documentation
                </a>
                <a class="option" @onclick="@OpenUpdates">
                    Update Notes
                </a>
            </div>
        </div>
    </div>
</div>