@using dOSCEngine.Components
@page "/"
<div class="app-page">
    <div class="home-container">
        <div class="home-panel">
            <img src="_content/dOSCEngine/images/dOSC-logo.png" />
            <div class="subtitle"> A Dynamic OSC App Sharing Platform </div>
        </div>
        <div class="home-panel-options">
            <ul>
                <li>
                    <div class="option" @onclick="@OpenTwitter" style="padding: 12px;">
                        <img src="_content/dOSCEngine/images/logo-twitter-new-white.png" />
                    </div>
                    <div class="option-text">
                        Social Media
                    </div>
                </li>
                <li>
                    <div class="option" @onclick="@OpenDiscord">
                        <img src="_content/dOSCEngine/images/discord-mark.png" />
                    </div>
                    <div class="option-text">
                        Discord
                    </div>
                </li>
                <li>
                    <div class="option" @onclick="@OpenKofi">
                        <img src="_content/dOSCEngine/images/kofi-logo-white.png" />
                    </div>
                    <div class="option-text">
                        Ko-Fi
                    </div>
                </li>
                <li>
                    <div class="option" @onclick="@OpenPatreon">
                        <img src="_content/dOSCEngine/images/patreon-mark-white.png"  />
                    </div>
                    <div class="option-text">
                        Patreon
                    </div>
                </li>
                <li>
                    <div class="option" @onclick="@OpenGithub">
                        <img src="_content/dOSCEngine/images/github-mark-white.png" />
                    </div>
                    <div class="option-text">
                        Github
                    </div>
                </li>
@*                 <li>
                    <div class="option" >
                        <span class="icon icon-book-open"/>
                    </div>
                    <div class="option-text">
                        Soon
                    </div>
                </li> *@
            </ul>
        </div>
    </div>
</div>

