@using LiveSheet
<div class="item-app">
    <div class="item-app-image @(App.State == LiveSheetState.Loaded ? "app-running" : "app-disabled")" @onclick="TogglePlayPause" style="background-image: url(@(App.GetCurrentIcon()));">
        <i class="icon oi @(App.State == LiveSheetState.Loaded ? "oi-media-play" : "oi-media-stop")"></i>

    </div>
    <div class="item-app-content-status-container">
        <div class="item-app-content-status @(App.State == LiveSheetState.Loaded ? "app-running" : "app-disabled")">
            @(App.State == LiveSheetState.Loaded ? "Running" : "Paused")
        </div>
    </div>
    <div class="item-app-content">

        <div class="item-app-content-title">
            @App.GetDisplayName()
        </div>
        <div class="controls">
            <button class="dosc-button dosc-button-primary" @onclick="EditApp">
                Edit
            </button>
            <button class="dosc-button dosc-button-secondary" @onclick="DownloadApp">
                Export
            </button>
            <button class="dosc-button dosc-button-secondary" @onclick="ShowSettings">
                Details
            </button>
        </div>
    </div>
</div>