@if (Show)
{
    <div class="dosc-modal @(GetSize()) @(Disappear ? "dosc-modal-show" : string.Empty)" style="@Style">
        <div class="dosc-modal-container">
            <div class="dosc-modal-content">
                <div class="dosc-modal-header">
                    @if (!string.IsNullOrWhiteSpace(Icon))
                    {
                        <div class="dosc-modal-header-icon @(Icon)"></div>
                    }
                    <div class="dosc-modal-header-title">@Title</div>
                    <div class="dosc-modal-header-close icon-x" @onclick="Close"/>
                </div>
                <div class="dosc-modal-body">
                    <div class="dosc-modal-body-content">
                        @Body
                    </div>
                </div>
                @if (Footer != null)
                {
                    <div class="dosc-modal-footer">
                        @Footer
                    </div>
                }
            </div>
        </div>
        <div class="dosc-modal-backdrop" @onclick="BackdropClick"/>
    </div>
}