<EditForm Model="@Setting">
    <AppDetailItem Title="Details">
        <ChildContent>
            @*             <div class="row w-100">
            <div class="col-lg-3 col-xs-12 col-md-6">
            <div class="col-auto form-override">
            <label for="inputAuthor" class="form-label">Author</label>
            <input dataType="text" class="form-control" id="inputAuthor" @bind-value="@Wiresheet.AppAuthor" disabled>
            </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6">
            <div class="col-auto form-override">
            <label for="inputVersion" class="form-label">Version</label>
            <input dataType="number" class="form-control" id="inputVersion" @bind-value="@Wiresheet.AppVersion" disabled>
            </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6">
            <div class="col-auto form-override">
            <label for="inputCreated" class="form-label">Created</label>
            <input dataType="datetime" class="form-control" id="inputCreated" @bind-value="@Wiresheet.Created" disabled>
            </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6">
            <div class="col-auto form-override">
            <label for="inputModified" class="form-label">Modified</label>
            <input dataType="datetime" class="form-control" id="inputModified" @bind-value="@Wiresheet.Modified" disabled>
            </div>
            </div>
            </div> *@
        </ChildContent>
    </AppDetailItem>
</EditForm>